# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi
# User specific environment and startup programs
export LANG=zh_CN.utf8
export PATH=$PATH:$HOME/bin

export JAVA_HOME={{ jdk_install_home }}
export PATH=$JAVA_HOME/bin:$PATH
